*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  border-bottom: 1px solid #f2f2f2;
  margin: 0 auto;
}

.navbar h1{
  color: rgb(223, 61, 61);
}

.links{
  margin-left: auto;
}

.links a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}

.links a:hover{
  color: rgb(223, 61, 61);
}

.App{
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
}

.blogtitle{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.blogs{
  padding:10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blogs:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blogs h2{
  font-size: 20px;
  margin-bottom: 8px;
  color: rgb(223, 61, 61);
}

input, textarea, select{
  display:block;
  width: 100%;
  padding: 6px 10px;
  margin:10px 0px; 
}

.Create{
  max-width: 400px;
  margin: 0 auto;
}


.blogs a{
  text-decoration: none;
}

.button{ 
  display: flex;
  justify-content: right;
}
button{
  padding: 7px 10px;
  border: none;
  background-color: rgb(216, 43, 43);
  border-radius: 7px;
  color: white;
}
button:hover{
    background-color: rgb(143, 27, 27);
}

.formdata{
  margin-bottom: 0.5em;
  max-width: 400px;
}