*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  border-bottom: 1px solid #f2f2f2;
  margin: 0 auto;
}

.navbar h1{
  color: rgb(223, 61, 61);
}

.links{
  margin-left: auto;
}

.links a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: black;
}

.links a:hover{
  color: rgb(223, 61, 61);
}

.home{
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
}

.blogs{
  padding:10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blogs:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blogs h2{
  font-size: 20px;
  margin-bottom: 8px;
  color: rgb(223, 61, 61);
}